/* FONTS */
@import url(https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@700&family=Righteous&display=swap);
@import "tailwindcss";


@theme {
    --color-orange: #E65B00;
    --color-warm_orange: #FFB280;
    --color-warm_vibrant_orange: #FF934D;
    --color-rust: #b34700;

    --font-righteous: "Righteous", sans-serif;
    --font-m_plus_1: "M PLUS 1", sans-serif;
}