/* FONTS */
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&family=M+PLUS+1:wght@700&family=Righteous&display=swap);
@import "tailwindcss";


@theme {
    --color-orange: #E65B00;
    --color-warm_orange: #FFB280;
    --color-warm_vibrant_orange: #FF934D;
    --color-rust: #b34700;

    --font-righteous: "Righteous", sans-serif;
    --font-m_plus_1: "M PLUS 1", sans-serif;
    --font-bebas_neue: "Bebas Neue", sans-serif;
}

/* Coverflow CSS Configurations */
.swiper.mySwiper {
  margin: 0 auto;
  overflow: visible;
}

.swiper-slide {
  width: auto !important;
}

.swiper-wrapper {
  align-items: center;
}

/*.swiper-button-next,
.swiper-button-prev {
    color: #fff !important;
    background-color: #92400e;
    padding: 35px;
    border-radius: 25px;
    border-color: #b34700;
    border-width: 5px;
}*/

.swiper-pagination {
  background-color: #FFB280;
  border-radius: 5px;
  padding: 15px;
  bottom: -24px !important;
}

.swiper-pagination-bullet {
    background-color: #92400e !important;
    opacity: 0.7;
    border-color: #92400e;
    border-width: 2px;
    padding: 7px;
}
.swiper-pagination-bullet-active {
    background-color: #fff !important;
    padding: 7px;
    opacity: 1;
    border-color: #92400e;
    border-width: 2px;
}

/* For the Cursor Effect */
canvas {
  z-index: 9999;
  pointer-events: none;
  /* The effect needs a fixed position to cover the screen */
  position: fixed;
  top: 0;
  left: 0;
}

/* Custom Cursor */
body {
  cursor: url('../resources/icons/xp normal (large).cur'), auto;
}

/* Animations */
/*
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.rotationAnimation {
    width: auto;
    height: 100px;
    transition: transform 0.5s ease;
}
  
.rotationAnimation:hover {
    animation: pulse 2s ease-in-out;
}
*/

/*
.rotationAnimation {
    width: auto;
    height: 100px;
    transition: transform 0.5s ease;
}


.rotationAnimation:hover {
    transform: rotate(180deg);
}
*/